		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<div class="title"><span>Find Us Online</span></div>
					<div class="row">
						<section class="8u 12u(narrower)">
							<ul class="icons">
								<li class="icon fa-twitter">
									<a href="http://twitter.com/joinednode">@joinednode</a>
								</li>
								<li class="icon fa-github">
									<a href="http://github.com/joinednode">@joinednode</a>
								</li>
							</ul>
						</section>
						<section class="4u 12u(narrower)">								
							<ul class="icons">
								<li class="icon fa-rss">
									<a href="http://blog.joinednode.com">Our Blog</a>
								</li>
								<li class="icon fa-envelope">
									<a href="mailto:hello@flybase.io">hello@flybase.io</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		<!-- Copyright -->
		<div id="copyright">
			&copy; 2015, Joined Node is a <a href="http://flybase.io">Flybase</a> production.
		</div>
	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/assets/js/main.js"></script>
<% /*
<script>
window.Intercom('boot', {
	app_id: "ubqxsvz9"
});
</script>
*/ %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56159710-6', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>