<section class="section-padding well">
	<header>
		<h2>Documentation</h2>
	</header>
	<ul class="style2">
		<li><a href="/docs/features">Overview</a></li>
		<li><a href="/docs">Getting Started</a></li>
	</ul>
	<hr />
	<ul class="style2">
		<li><a href="/docs/model">Programming Model</a></li>
		<li><a href="/docs/parameters">Query string parameters</a></li>
		<li><a href="/docs/env">Secret parameters</a></li>
		<li><a href="/docs/logs">Logging</a></li>
{% comment %}
		<li><a href="/docs/modules">Modules</a></li>
		<li><a href="/docs/cron">Scheduled Tasks</a></li>
{% endcomment %}
	</ul>
	<hr />
	<header>
		<h4>Helper Libraries</h4>
	</header>
	<ul class="style2">
		<li><a href="/docs/js">Javascript Library</a></li>
	</ul>
</section>