<section class="section-padding well">
	<header>
		<h4>Developer Docs</h4>
	</header>
	<hr />
	<ul class="style2">
{% comment %}
		<li><a href="/docs/features">Overview</a></li>
{% endcomment %}
		<li><a href="/docs">Getting Started</a></li>
	</ul>
	<ul class="style2">
		<li><a href="/docs/model">Programming Model</a></li>
		<li><a href="/docs/run">Executing Recipes</a></li>
		<li><a href="/docs/parameters">Passing Parameters via Query String</a></li>
		<li><a href="/docs/env">Encrypted Parameters</a></li>
		<li><a href="/docs/auth">Auth Tokens</a></li>
		<li><a href="/docs/logs">Logging</a></li>
{% comment %}
		<li><a href="/docs/modules">Modules</a></li>
		<li><a href="/docs/cron">Scheduled Recipes</a></li>
{% endcomment %}
	</ul>
</section>
{% comment %}
<section class="section-padding well">
	<header>
		<h4>Helper Libraries</h4>
	</header>
	<hr />
	<ul class="style2">
		<li><a href="/docs/js">Javascript Library</a></li>
		<li><a href="/docs/templates">Recipe Templates</a></li>
	</ul>
</section>
{% endcomment %}
